/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 16px;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 120%;
 font-family: 'Segoe UI';
}
span.rvts7
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}
span.rvts12
{
 font-size: 140%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #365f91;
}
span.rvts13
{
 font-size: 110%;
 font-family: 'Segoe UI';
 font-style: italic;
}
a.rvts14, span.rvts14
{
 font-size: 110%;
 font-family: 'Segoe UI';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts14:hover
{
 color: #0000ff;
}
span.rvts15
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
}
span.rvts16
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
}
span.rvts17
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
}
a.rvts18, span.rvts18
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts18:hover
{
 color: #0000ff;
}
span.rvts19
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 font-weight: bold;
}
span.rvts20 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts21, span.rvts21 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
a.rvts22, span.rvts22
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #000080;
 text-decoration: underline;
}
span.rvts23
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #a0a0a0;
}
span.rvts24
{
 font-size: 150%;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #696969;
}
span.rvts25
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #a0a0a0;
}
span.rvts26
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 color: #a0a0a0;
}
span.rvts27
{
 font-size: 120%;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts28
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
}
a.rvts29, span.rvts29
{
 font-size: 120%;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts29:hover
{
 color: #0000ff;
}
span.rvts30
{
 font-family: 'Segoe UI';
}
span.rvts31
{
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #0000ff;
}
span.rvts32
{
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #000080;
}
span.rvts33
{
 font-family: 'Segoe UI';
 font-style: italic;
 color: #800000;
}
a.rvts34, span.rvts34
{
 font-family: 'Segoe UI';
 color: #008000;
 text-decoration: underline;
}
span.rvts35
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 text-decoration: underline;
}
span.rvts36
{
 font-size: 110%;
 font-family: 'Segoe UI';
 font-weight: bold;
}
span.rvts37
{
 font-size: 120%;
 font-family: 'Segoe UI';
 text-decoration: underline;
}
span.rvts38
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #ff0000;
}
a.rvts39, span.rvts39
{
 font-size: 120%;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts40
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #00b0f0;
}
a.rvts41, span.rvts41
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #000000;
 text-decoration: none;
}
a.rvts41:hover
{
 color: #0000ff;
}
a.rvts42, span.rvts42
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 color: #000000;
 text-decoration: none;
}
a.rvts42:hover
{
 color: #0000ff;
}
a.rvts43, span.rvts43
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 font-weight: bold;
 color: #000000;
 text-decoration: none;
}
a.rvts43:hover
{
 color: #0000ff;
}
a.rvts44, span.rvts44
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #0000ff;
 text-decoration: none;
}
a.rvts44:hover
{
 color: #0000ff;
}
span.rvts45
{
 font-size: 120%;
 font-family: Symbola, 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts46
{
 font-size: 120%;
 font-family: 'Segoe UI';
}
span.rvts47
{
 font-size: 140%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #365f91;
}
a.rvts48, span.rvts48
{
 font-size: 120%;
 color: #0000ff;
 text-decoration: none;
}
a.rvts49, span.rvts49
{
 font-size: 120%;
 text-decoration: none;
}
a.rvts50, span.rvts50
{
 font-size: 120%;
 color: #00a5ff;
 text-decoration: underline;
}
span.rvts51
{
 font-size: 110%;
 font-family: 'Segoe UI';
}
a.rvts52, span.rvts52
{
 font-family: 'Segoe UI';
 color: #000080;
 text-decoration: underline;
}
span.rvts53
{
 font-family: 'Segoe UI';
 color: #a0a0a0;
}
span.rvts54
{
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #a0a0a0;
}
span.rvts55
{
 font-family: 'Segoe UI';
 font-style: italic;
 color: #a0a0a0;
}
span.rvts56
{
 font-size: 80%;
 font-family: 'Segoe UI';
 vertical-align: sub;
}
span.rvts57
{
 font-size: 120%;
 font-family: 'Segoe UI';
 background-color: #ffff00;
}
span.rvts58
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 background-color: #ffff00;
}
span.rvts59
{
 font-size: 130%;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts60
{
 font-size: 110%;
 font-family: 'Segoe UI';
 font-style: italic;
 font-weight: bold;
}
span.rvts61
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 font-weight: bold;
}
a.rvts62, span.rvts62
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 font-weight: bold;
 text-decoration: none;
}
a.rvts62:hover
{
 color: #0000ff;
}
span.rvts63
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 background-color: #ffff00;
}
span.rvts64
{
 font-size: 110%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #4f81bd;
}
a.rvts65, span.rvts65
{
 font-size: 120%;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts66
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #4f81bd;
}
span.rvts67
{
 font-size: 120%;
 font-family: Symbola, 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts68
{
 font-size: 80%;
 font-family: 'Segoe UI';
 vertical-align: sub;
 text-decoration: underline;
}
span.rvts69
{
 font-size: 80%;
 font-family: 'Segoe UI';
 font-weight: bold;
 vertical-align: sub;
}
span.rvts70
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #ff0000;
}
span.rvts71
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 font-weight: bold;
 color: #99cc00;
}
span.rvts72
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #3366ff;
}
span.rvts73
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #339966;
}
span.rvts74
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #b06262;
}
span.rvts75
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #808000;
}
span.rvts76
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #800000;
}
span.rvts77
{
 font-size: 80%;
 font-family: 'Segoe UI';
 font-weight: bold;
 vertical-align: super;
}
a.rvts78, span.rvts78
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts78:hover
{
 color: #0000ff;
}
a.rvts79, span.rvts79
{
 font-size: 110%;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts79:hover
{
 color: #0000ff;
}
span.rvts80
{
 font-size: 110%;
 font-style: italic;
}
span.rvts81
{
 font-size: 110%;
 font-style: italic;
 font-weight: bold;
}
span.rvts82
{
 font-size: 110%;
 background-color: #80ff80;
}
span.rvts83
{
 font-size: 110%;
 color: #ffffff;
 background-color: #7f7f7f;
}
span.rvts84
{
 font-size: 110%;
 font-weight: bold;
}
span.rvts85
{
 font-size: 140%;
 font-weight: bold;
 color: #365f91;
}
span.rvts86
{
 font-size: 110%;
 font-family: 'Segoe UI';
 font-style: italic;
 text-decoration: underline;
}
span.rvts87
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #ff3333;
}
a.rvts88, span.rvts88
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts88:hover
{
 color: #0000ff;
}
span.rvts89
{
 font-size: 120%;
 font-family: 'Segoe UI';
 text-decoration: line-through;
}
a.rvts90, span.rvts90
{
 font-size: 120%;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
 text-decoration: none;
}
a.rvts91, span.rvts91
{
 font-size: 110%;
 font-family: 'Segoe UI';
 color: #000000;
 text-decoration: none;
}
a.rvts92, span.rvts92
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts93
{
 font-family: 'Segoe UI';
 font-weight: bold;
}
span.rvts94
{
 font-size: 120%;
 font-family: 'Segoe UI';
}
span.rvts95
{
}
span.rvts96
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts97
{
 font-weight: bold;
 color: #000080;
}
span.rvts98
{
 font-style: italic;
 color: #800000;
}
a.rvts99, span.rvts99
{
 color: #008000;
 text-decoration: underline;
}
span.rvts100
{
 font-size: 110%;
}
a.rvts101, span.rvts101
{
 color: #000080;
 text-decoration: underline;
}
span.rvts102
{
 color: #a0a0a0;
}
span.rvts103
{
 font-weight: bold;
 color: #a0a0a0;
}
span.rvts104
{
 font-style: italic;
 color: #a0a0a0;
}
a.rvts105, span.rvts105
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts105:hover
{
 color: #0000ff;
}
span.rvts106
{
 font-size: 110%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}
span.rvts107
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
}
span.rvts108
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts109
{
 font-family: 'Verdana', 'Geneva', sans-serif;
}
a.rvts110, span.rvts110
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts110:hover
{
 color: #0000ff;
}
span.rvts111
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #0070c0;
}
span.rvts112
{
 font-size: 140%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #0070c0;
}
span.rvts113
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 background-color: #92d050;
}
span.rvts114
{
 font-size: 120%;
 font-family: 'Segoe UI';
 background-color: #ff0000;
}
span.rvts115
{
 font-size: 120%;
 font-family: 'Segoe UI';
 background-color: #80ff80;
}
span.rvts116
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #ffffff;
 background-color: #ff0000;
}
a.rvts117, span.rvts117
{
 font-size: 120%;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts118, span.rvts118
{
 font-size: 120%;
 font-family: 'Segoe UI';
 text-decoration: none;
}
a.rvts118:hover
{
 color: #0000ff;
}
span.rvts119
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #365f91;
}
span.rvts120
{
 font-weight: bold;
 color: #365f91;
}
span.rvts121
{
 font-weight: bold;
}
span.rvts122
{
 font-family: 'Segoe UI';
 color: #365f91;
}
span.rvts123
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #365f91;
}
span.rvts124
{
 font-size: 120%;
 font-family: 'Segoe UI';
}
span.rvts125
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-style: italic;
 color: #365f91;
}
span.rvts126
{
 font-size: 120%;
 font-family: Symbola, 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #365f91;
}
span.rvts127
{
 font-size: 90%;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts128
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 background-color: #ffff00;
}
a.rvts129, span.rvts129
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts129:hover
{
 color: #0000ff;
}
span.rvts130
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 background-color: #66ffff;
}
span.rvts131
{
 font-size: 120%;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts132
{
 font-size: 120%;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts133
{
 font-size: 130%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #4f81bd;
}
span.rvts134
{
 font-size: 120%;
 font-family: 'Segoe UI';
 color: #000000;
}
span.rvts135
{
 font-size: 110%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000000;
}
span.rvts136
{
 font-size: 120%;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #000000;
}
span.rvts137
{
 font-size: 110%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts138
{
 font-size: 90%;
 font-family: 'Segoe UI';
 color: #000000;
}
span.rvts139
{
 font-size: 120%;
 font-family: 'Segoe UI';
}
span.rvts140
{
 font-size: 90%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000000;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 line-height: 1.80;
 margin: 2px 0px 6px 0px;
}
.rvps3
{
 text-align: center;
 line-height: 1.80;
 margin: 2px 0px 6px 0px;
}
.rvps4
{
 line-height: 1.80;
 margin: 4px 0px 4px 0px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 text-align: center;
 line-height: 1.80;
 margin: 4px 0px 4px 0px;
}
.rvps7
{
 line-height: 1.80;
 margin: 2px 0px 6px 24px;
}
.rvps8
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 6px 0px 6px 0px;
}
.rvps9
{
 line-height: 1.80;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 0px;
 background: #ffffff;
 margin: 2px 0px 6px 0px;
}
.rvps10
{
 line-height: 1.80;
 margin: 5px 0px 5px 0px;
}
.rvps11
{
 line-height: 1.80;
 margin: 6px 0px 6px 0px;
}
.rvps12
{
 line-height: 1.80;
 margin: 2px 0px 8px 0px;
}
.rvps13
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 20px 0px;
}
.rvps14
{
 line-height: 1.80;
 margin: 2px 0px 0px 40px;
}
.rvps15
{
 line-height: 1.80;
 margin: 0px 0px 0px 40px;
}
.rvps16
{
 line-height: 1.80;
 margin: 0px 0px 8px 40px;
}
.rvps17
{
 line-height: 1.80;
 margin: 6px 0px 6px 24px;
}
.rvps18
{
 text-align: center;
 line-height: 1.80;
 margin: 6px 0px 6px 0px;
}
.rvps19
{
 line-height: 1.80;
 margin: 2px 0px 4px 0px;
}
.rvps20
{
 text-align: center;
 line-height: 1.80;
 margin: 5px 0px 5px 0px;
}
.rvps21
{
 line-height: 1.80;
 margin: 2px 0px 6px 96px;
}
.rvps22
{
 line-height: 1.80;
 border-color: #000000;
 border-style: double;
 border-width: 3px;
 background: #ccffcc;
 margin: 1px 37px 1px 37px;
}
.rvps23
{
}
.rvps24
{
 text-align: center;
}
.rvps25
{
 line-height: 1.80;
 border-color: #000000;
 border-style: double;
 border-width: 3px;
 border-right: none;
 border-left: none;
 background: #ffff99;
 margin: 0px 0px 3px 0px;
}
.rvps26
{
 line-height: 1.80;
 margin: 4px 0px 4px 24px;
}
.rvps27
{
 line-height: 1.80;
 margin: 4px 0px 4px 0px;
}
.rvps28
{
 line-height: 1.80;
 margin: 5px 10px 6px 10px;
}
.rvps29
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 5px 0px 5px 0px;
}
.rvps30
{
 line-height: 1.80;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 margin: 3px 0px 3px 0px;
}
.rvps31
{
 line-height: 1.80;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 margin: 5px 0px 5px 0px;
}
.rvps32
{
 line-height: 1.80;
 margin: 6px 1px 6px 1px;
}
.rvps33
{
 line-height: 1.80;
 margin: 0px 8px 0px 8px;
}
.rvps34
{
 line-height: 1.80;
}
.rvps35
{
 line-height: 1.80;
 margin: 0px 16px 0px 16px;
}
.rvps36
{
 text-align: center;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 6px 0px 6px 0px;
}
.rvps37
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps38
{
 line-height: 1.80;
 margin: 0px 0px 0px 24px;
}
.rvps39
{
 text-align: right;
 line-height: 1.80;
 margin: 2px 0px 6px 0px;
}
.rvps40
{
 line-height: 1.80;
 margin: 2px 0px 6px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
li.noindent { margin-left: 0; padding-left: 0; }
