/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 16px;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #5f5f5f;
}
span.rvts7
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000080;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #a0a0a0;
}
span.rvts12
{
 font-size: 150%;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #696969;
}
span.rvts13
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 color: #a0a0a0;
}
span.rvts14
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 color: #a0a0a0;
}
span.rvts15
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000000;
}
span.rvts16
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000000;
}
span.rvts17 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts18, span.rvts18 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts19
{
}
span.rvts20
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts21
{
 font-weight: bold;
 color: #000080;
}
span.rvts22
{
 font-style: italic;
 color: #800000;
}
a.rvts23, span.rvts23
{
 color: #000080;
 text-decoration: underline;
}
span.rvts24
{
 color: #a0a0a0;
}
span.rvts25
{
 font-weight: bold;
 color: #a0a0a0;
}
span.rvts26
{
 font-style: italic;
 color: #a0a0a0;
}
span.rvts27
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}
span.rvts28
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
}
a.rvts29, span.rvts29
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts29:hover
{
 color: #0000ff;
}
span.rvts30
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts31, span.rvts31
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts31:hover
{
 color: #0000ff;
}
span.rvts32
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 color: #000000;
}
a.rvts33, span.rvts33
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 text-decoration: none;
}
a.rvts33:hover
{
 color: #0000ff;
}
a.rvts34, span.rvts34
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 text-decoration: none;
}
a.rvts34:hover
{
 color: #0000ff;
}
a.rvts35, span.rvts35
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 text-decoration: none;
}
a.rvts35:hover
{
 color: #0000ff;
}
span.rvts36
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #ff00ff;
}
span.rvts37
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #ff8000;
}
span.rvts38
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #008000;
}
span.rvts39
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #007bbf;
}
span.rvts40
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts41
{
 font-size: 140%;
}
span.rvts42
{
 font-size: 140%;
 font-weight: bold;
}
span.rvts43
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
}
span.rvts44
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts45
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}
span.rvts46
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
}
span.rvts47
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
}
span.rvts48
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 color: #333399;
}
span.rvts49
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 color: #000000;
}
span.rvts50
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
a.rvts51, span.rvts51
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts51:hover
{
 color: #0000ff;
}
a.rvts52, span.rvts52
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts52:hover
{
 color: #0000ff;
}
a.rvts53, span.rvts53
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #0000ff;
 text-decoration: none;
}
a.rvts53:hover
{
 color: #0000ff;
}
span.rvts54
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 background-color: #ffff00;
}
span.rvts55
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #190000;
 background-color: #92d050;
}
span.rvts56
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #ffffff;
 background-color: #ff0000;
}
span.rvts57
{
 font-size: 140%;
 font-weight: bold;
 color: #365f91;
}
span.rvts58
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000000;
 background-color: #92d050;
}
span.rvts59
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000000;
 background-color: #ffc000;
}
span.rvts60
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: transparent;
 background-color: #ff0000;
}
span.rvts61
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000000;
 background-color: #ff0000;
}
a.rvts62, span.rvts62
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: transparent;
 text-decoration: none;
}
a.rvts62:hover
{
 color: #0000ff;
}
span.rvts63
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000000;
 background-color: #ffff00;
}
span.rvts64
{
 font-size: 120%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts65, span.rvts65
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts65:hover
{
 color: #0000ff;
}
a.rvts66, span.rvts66
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 font-style: italic;
 color: #000000;
 text-decoration: none;
}
a.rvts67, span.rvts67
{
 font-size: 140%;
 font-family: 'Segoe UI', 'Calibri', 'Arial', sans-serif;
 color: #000000;
 text-decoration: none;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 line-height: 1.80;
 margin: 3px 0px 3px 0px;
}
.rvps3
{
 text-align: center;
 line-height: 1.80;
 margin: 3px 0px 3px 0px;
}
.rvps4
{
 line-height: 1.80;
 margin: 5px 0px 5px 0px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
}
.rvps7
{
 text-align: center;
}
.rvps8
{
 text-align: right;
}
.rvps9
{
 line-height: 1.38;
 margin: 0px 0px 13px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
li.noindent { margin-left: 0; padding-left: 0; }
